# dependencies
node_modules/
jspm_packages/

# Expo / React Native
.expo/
dist/
web-build/
expo-env.d.ts
/ios
/android

# Native / Android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*

# Python (if applicable)
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class

# macOS / Windows OS files
.DS_Store
*.pem
Thumbs.db

# local env files
.env
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug & Logs
logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# typescript
*.tsbuildinfo